<p id="notice"><%= notice %></p>

<h1 class="name-header">Weekly Schedule</h1>

<div class="route">
  <table class='route-tile'>
  <tr>
    <th colspan='2'>Cherry Lane</th>
  </tr>
  <tr>
    <td class='png'><i class='fa fa-sun-o'></i></td>
    <td class='png'><i class='fa fa-cloud'></i></td>
  </tr>
  <tr>
    <td class='route-amount'>$200</td>
    <td class='route-amount'>$150</td>
  </tr>
</table>
</div>
<div class="grid-container">
  <table class="grid-table">
    <thead>
      <tr class="grid-head">
        <th class="grid-th">Employee</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="grid-td"><%= user.name %></td>
          <td class='droppable'></td>
          <td class='droppable'></td>
          <td class='droppable'></td>
          <td class='droppable'></td>
          <td class='droppable'></td>
          <td class='droppable'></td>
          <td class='droppable'></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
