/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .inline-price{
  display: inline;
  width: 60px;
  border-radius: 8px;
   border: 1px solid gray;
 }

 textarea{
  border-radius: 8px;
  border: 1px solid gray;
  width: 100%;
  height: 100px;
 }

 label.float{
  display: inline;
 }

 input[value="Log in"] {
  width: 100%;
 }


.detail{
  display: none;
  padding: 10px;
  margin: 10px;
}

 div.reorder{
  overflow: auto;
  border: 1px solid gray;
  border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  margin-bottom: 5px;
  clear: both;
 }

 div.reorder-complete{
  border: 1px solid gray;
  border-radius: 8px;
  padding-top: 10px;
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
 }

 .sign-out-link {
  text-align: center;
  border: 1px solid white;
  width: 10%;
  padding: 3px;
  background: rgba(255,255,255,0.2);
  margin-left: 10px;
  font-size: 1.8em;
  margin-top: 55px;
 }

.sign-out-link a {
  text-decoration: none;
  color: white;
}

.sign-out-link:hover {
  text-decoration: none;
  background-color: lightblue;
}

 div.form-actions{
  display: block;
  width: 100%;
 }

 div.form-actions input[value="Done"] {
   width: 100%;
   margin: auto;
 }

.edit_work_order {
 margin: auto;
}

 .container{
  margin: 0;
 }

* {
  margin: 0;
}

.form-inline, .form-inline div {
  display: inline-block
}

 .hidden {
  display: none;
 }

body {
  /*margin:0px 5%;*/
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: lightgrey;
}

#title-and-navbar {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 130px;
  top: 0px;
  background: url(Star-icon-home.png) no-repeat center center;
  background-size: 80px 60px;
  background-position: 50% 39px;
  background-color: lightblue;
  border-bottom: 3px solid white;
}


#content-container {
  max-width: 65%;
  margin-top: 200px;
  margin: auto;
}

#wo-container {
  margin-top: 20px;
  postion: absolute;
}

.company-title {
  width: 100%;
  text-align: center;
  font-family: georgia;
  font-weight: 900;
  font-size: 30px;
  color: white;
  font-weight: 1300;
  padding: 10px;
  margin: 0px;
  letter-spacing: 3px;
  position: absolute;
}
.pipe{
  color: white;
  opacity: 0.5;
}

.navbar-text a {
  color: white;
  font-size: 0.9em;
}

nav {
  position: relative;
  display: inline-block;
  max-width: 100%;
  text-align: center;
  margin: 0;
}

/*.incomplete-orders .form-actions {
  border: 1px solid red;
  padding: 0px;
}*/

.navbar-text:active {
  color: dodgerblue;
}

.navbar-text:hover a {
  text-decoration: none;
  color: #424242;
}

h1.company-title {
  margin-bottom: 0px;
}

h1.name-header {
  margin-bottom: 0px;
}

nav ul {
  margin-top: 90px;
  text-align: center;
}

nav li {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  display: inline-block;
  font-size: 18px;
}

.back-link {
  padding:5px 15px;
  background:#ccddff;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 15px;
  width: 50px;
}


/*--------------- route tiles --------------*/
.route-tile {
  border: solid black 1px;
  box-shadow: -2px 2px;
  background-color: #fff;
  float: left;
  width: 100%;
}

.rain-png {
  padding: 2px;
  display: inline-block;
}

.sun-png {
  padding: 2px;
  display: inline-block;
}

.fa-sun-o {
  color: orange;
}

.fa-cloud {
  color: blue;
}

.route-amount {
  float:left;
  box-sizing: border-box;
  width: 21%;
  background-color: #FDE436;
  padding: 2px;
  display: inline-block;
  font-size: .7em;
  border-left: solid black 1px;
  font-weight: bold;
}

.rain-amount {
  float:left;
  box-sizing: border-box;
  width: 21%;
  background-color: #2BBAED;
  padding: 2px;
  display: inline-block;
  font-size: .7em;
  border-left: solid black 1px;
  font-weight: bold;
}

.route-name {
  float:left;
  box-sizing: border-box;
  width: 58%;
  margin: 0;
  padding: 4px 4px 0 4px;
  font-size: .7em;
  font-weight: bold;
  display: inline-block;
}

#route-container {
  box-sizing: border-box;
  width: 13%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  border: solid black 3px;
  float: left;
  overflow: auto;
  height: 800px;
}

.route {
  margin: 7px 5px;
}

.clickme {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #3B6D9D;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 11px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  float: right;
  margin: auto 5% auto auto;
}

.clickme:hover{
  background-color: #7289AB;
}

@media screen and (max-width: 1720px) {
    .route-name {
      font-size: .6em;
    }

    .rain-amount {
      font-size: .6em;
    }

    .route-amount {
      font-size: .6em;
    }
}

@media screen and (max-width: 1520px) {
    .route-name {
      font-size: .6em;
      text-align: center;
      width: 100%;
    }

    .rain-amount {
      text-align: center;
      border-top: solid black 1px;
      width: 50%;
    }

    .route-amount {
      text-align: center;
      border-top: solid black 1px;
      width: 50%;
    }
}

@media screen and (max-width: 1320px) {
    .route-name {
      font-size: .5em;
      text-align: center;
      width: 100%;
    }

    .rain-amount {
      text-align: center;
      border-top: solid black 1px;
      width: 50%;
    }

    .route-amount {
      text-align: center;
      border-top: solid black 1px;
      width: 50%;
    }
}

@media screen and (max-width: 466px) {
  nav  {
    display: none;
  }

.detail {
  padding-top: 80px;
}

.week-form form {
  text-align: center;
   margin: auto;
 }

  #content-container{
    max-width: 100%;
  }


}

@media (max-width: 1063px){
  .sign-out-link {
    min-width: 92px;
    font-size: 1.3em;
  }
}
