/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin:0px 5%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #e6e6e6;
}

#title-and-navbar {
  position: fixed;
  width: 90%;
  top: 0px;
  border: solid gray 2px;
  background-image: url(rainy-window2.png);
}

#navbar-whitespace {
  width: 91%;
  height: 30px;
  position: fixed;
  margin-top: -64px;
  background-color: #e6e6e6;
}

#content-container {
  margin-top: 180px;
}

.company-title {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 30px;
  color: black;
  font-weight: 1300;
  padding: 10px 0px 0px 10px;
  margin: 0px;
  text-shadow: grey -2px 1px;
  letter-spacing: 3px;
}

.navbar-text a {
  color: blue !important;
  text-shadow: grey -1px 1px;
}

.navbar-text:visited a {
  color: blue !important;
  text-shadow: grey -1px 1px;
}

.navbar-text:hover a {
  color: blue;
  text-shadow: black -4px 3px;
}

h1.company-title {
  margin-bottom: 0px;
}

nav {
  padding: 10px 0px;
}

nav ul {
  text-align: center;
}

nav li {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  display: inline-block;
  font-size: 20px;
  padding-right: 20px;
}

.back-link {
  padding:5px 15px;
  background:#ccddff;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 15px;
  width: 50px;
}


/*--------------- route tiles --------------*/
.route-tile {
  border: solid black 1px;
  box-shadow: -2px 2px;
}

.png {
  padding: 2px;
  text-align: center;
}

.fa-sun-o {
  text-align: center;
  color: orange;
}

.fa-cloud {
  text-align: center;
  color: blue;
}

.route-amount {
  text-align: center;
  padding: 2px;
}

.route-name {
  font-size: .7em;
}

.route-amount {
  font-size: .7em;
}



