/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin:0px 5%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #e6e6e6;
}

#title-and-navbar {
  position: fixed;
  width: 89.8%;
  height: 150px;
  top: 0px;
  float:left;
  border: solid black 2px;
  border-top: none;
  background: image-url('cleanbanner.jpg') no-repeat center center;
}

#content-container {
  margin-top: 180px;
}

.company-title {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 30px;
  color: lightblue;
  font-weight: 1300;
  padding: 20px;
  margin: 0px;
  text-shadow: black -2px 2px;
  letter-spacing: 3px;
}

.navbar-text a {
  color: white;
  text-shadow: black -1px 1px;
}

.navbar-text:visited a {
  color: white;
  text-shadow: black -1px 1px;
}

.navbar-text:hover a {
  color: lightgray;
  text-shadow: black -2px 2px;
}

h1.company-title {
  margin-bottom: 0px;
}

h1.name-header {
  margin-bottom: 0px;
}

nav {
  padding: 10px 0px;
}

nav ul {
  text-align: center;
}

nav li {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  display: inline-block;
  font-size: 20px;
  padding-right: 20px;
}

.back-link {
  padding:5px 15px;
  background:#ccddff;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 15px;
  width: 50px;
}


/*--------------- route tiles --------------*/
.route-tile {
  border: solid black 1px;
  box-shadow: -2px 2px;
  background-color: #fff;
  float: left;
  width: 100%;
}

.rain-png {
  padding: 2px;
  display: inline-block;
}

.sun-png {
  padding: 2px;
  display: inline-block;
}

.fa-sun-o {
  color: orange;
}

.fa-cloud {
  color: blue;
}

.route-amount {
  float:left;
  box-sizing: border-box;
  width: 21%;
  background-color: yellow;
  padding: 2px;
  display: inline-block;
  font-size: .7em;
  border-left: solid black 1px;
  font-weight: bold;
}

.rain-amount {
  float:left;
  box-sizing: border-box;
  width: 21%;
  background-color: lightblue;
  padding: 2px;
  display: inline-block;
  font-size: .7em;
  border-left: solid black 1px;
  font-weight: bold;
}

.route-name {
  float:left;
  box-sizing: border-box;
  width: 58%;
  margin: 0;
  padding: 4px 4px 0 4px;
  font-size: .7em;
  font-weight: bold;
  display: inline-block;
}

#route-container {
  box-sizing: border-box;
  width: 13%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  border: solid black 3px;
  float: left;
  overflow: auto;
  height: 800px;
}

.route {
  margin: 7px 5px;
}

.clickme {
  background-color: #3B6D9D;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 11px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  display: block;
  margin: auto 5% auto auto;
}

.clickme:hover{
  background-color: #7289AB;
}
