.name-header {
  text-align: center;
  font-size: 22px;
}

.orders-container {
  margin: 0 auto;
  text-align: center;
}

.incomplete-orders {
  display: inline-block;
  margin: 10px;
  float: left;
}

.complete-orders {
  display: inline-block;
  margin: 10px;
}

.passed-orders {
  display: inline-block;
  margin: 10px;

}

.employees {
  display: inline-block;
}

.employee-table {
  margin: 0 auto;
}

.create-new-link {
  padding:5px 15px;
  background:#ccddff;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 15px;
  width: 130px;
}
