<!DOCTYPE html>
<html>
<head>
  <title>The Grid</title>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

</head>
<body>
<table class='route-tile' style='border: solid black 1px; box-shadow: -2px 2px'>
  <tr>
    <th colspan='2'>Cherry Lane</th>
  </tr>
  <tr>
    <td class='png' style='text-align: center;'><i class='fa fa-sun-o' style='color: orange; text-align: center;'></i></td>
    <td style='text-align: center;'><i class='fa fa-cloud' style='color: blue;'></i></td>
  </tr>
  <tr>
    <td class='route-amount' style='text-align: center;'>$200</td>
    <td class='route-amount' style='text-align: center;'>$150</td>
  </tr>
</table>
</body>
</html>

